<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@mediaArtist.list.headline">Media Artists</h1>
    <div>
        <a routerLink="/mediaArtists/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@mediaArtist.list.createNew">Create new Media Artist</a>
    </div>
</div>
@if (!mediaArtists || mediaArtists.length === 0) {
<div i18n="@@mediaArtist.list.empty">No Media Artists could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@mediaArtist.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@mediaArtist.role.label">Role</th>
                <th scope="col" class="text-left p-2" i18n="@@mediaArtist.media.label">Media</th>
                <th scope="col" class="text-left p-2" i18n="@@mediaArtist.artist.label">Artist</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (mediaArtist of mediaArtists; track mediaArtist.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ mediaArtist.id }}</td>
                <td class="p-2">{{ mediaArtist.role }}</td>
                <td class="p-2">{{ mediaArtist.media }}</td>
                <td class="p-2">{{ mediaArtist.artist }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/mediaArtists/edit', mediaArtist.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@mediaArtist.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(mediaArtist.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm cursor-pointer" i18n="@@mediaArtist.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
