<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@artist.list.headline">Artists</h1>
    <div>
        <a routerLink="/artists/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@artist.list.createNew">Create new Artist</a>
    </div>
</div>
@if (!artists || artists.length === 0) {
<div i18n="@@artist.list.empty">No Artists could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@artist.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@artist.name.label">Name</th>
                <th scope="col" class="text-left p-2" i18n="@@artist.type.label">Type</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (artist of artists; track artist.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ artist.id }}</td>
                <td class="p-2">{{ artist.name }}</td>
                <td class="p-2">{{ artist.type }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/artists/edit', artist.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@artist.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(artist.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm cursor-pointer" i18n="@@artist.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
