<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@user.list.headline">Users</h1>
    <div>
        <a routerLink="/users/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@user.list.createNew">Create new User</a>
    </div>
</div>
@if (!users || users.length === 0) {
<div i18n="@@user.list.empty">No Users could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@user.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@user.username.label">Username</th>
                <th scope="col" class="text-left p-2" i18n="@@user.password.label">Password</th>
                <th scope="col" class="text-left p-2" i18n="@@user.avatar.label">Avatar</th>
                <th scope="col" class="text-left p-2" i18n="@@user.role.label">Role</th>
                <th scope="col" class="text-left p-2" i18n="@@user.createdAt.label">Created At</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (user of users; track user.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ user.id }}</td>
                <td class="p-2">{{ user.username }}</td>
                <td class="p-2">{{ user.password }}</td>
                <td class="p-2">{{ user.avatar }}</td>
                <td class="p-2">{{ user.role }}</td>
                <td class="p-2">{{ user.createdAt }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/users/edit', user.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@user.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(user.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm cursor-pointer" i18n="@@user.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
