<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@userMedia.edit.headline">Edit User Media</h1>
    <div>
        <a routerLink="/userMedias" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@userMedia.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@userMedia.id.label" label="Id" />
    <app-input-row [group]="editForm" field="personalNotes" rowType="textarea" i18n-label="@@userMedia.personalNotes.label" label="Personal Notes" />
    <app-input-row [group]="editForm" field="user" rowType="select" [options]="userValues" i18n-label="@@userMedia.user.label" label="User" />
    <app-input-row [group]="editForm" field="media" rowType="select" [options]="mediaValues" i18n-label="@@userMedia.media.label" label="Media" />
    <app-input-row [group]="editForm" field="flag" rowType="select" [options]="flagValues" i18n-label="@@userMedia.flag.label" label="Flag" />
    <input type="submit" i18n-value="@@userMedia.edit.headline" value="Edit User Media" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
</form>
