<div class="grid grid-cols-2 md:grid-cols-3 gap-4 h-[calc(100vh-58px)] py-8">
    @for (mediaType of mediaTypes; track mediaType.id) {
        <a routerLink="/medias" [queryParams]="{typeId: mediaType.id}">
            <p-card class="text-center h-full hover:scale-102 transition-transform duration-200">
                <p class="p-2">
                    <img [src]="`media-type/${mediaType.icon}.png`" class="w-auto h-20 mx-auto">
                </p>
                <p class="p-2">
                    {{ mediaType.name }} ({{ mediaType.numberOfMedias }})
                </p>
            </p-card>
        </a>
    }
</div>
