<form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm" class="p-8">
    <div class="bg-surface-0 dark:bg-surface-900 p-8 md:p-12 shadow-sm rounded-2xl w-full max-w-sm mx-auto flex flex-col gap-8">
        <div class="flex flex-col items-center gap-4">
            <div class="flex flex-col items-center gap-2 w-full">
                <div class="text-surface-900 dark:text-surface-0 text-2xl font-semibold leading-tight text-center w-full" i18n="@@forgot.password.form.title">Mot de passe oublié ?</div>
            </div>
        </div>
        <div class="flex flex-col gap-6 w-full">
            <div class="flex flex-col gap-2 w-full">
                <label for="email" class="text-surface-900 dark:text-surface-0 font-medium leading-normal" i18n="@@forgot.password.form.email">Email*</label>
                <input pInputText id="email" name="username" formControlName="username" type="email" required i18n-placeholder="@@forgot.password.form.email" placeholder="Email" class="w-full px-3 py-2 shadow-sm rounded-lg" />
                @if (errorField === 'username' && errorMessage) {
                    <p class="text-sm text-red-500 mt-2">{{ errorMessage }}</p>
                }
            </div>
        </div>
        <button pButton class="w-full py-2 rounded-lg flex justify-center items-center gap-2">
            <i pButtonIcon class="pi pi-user text-base! leading-normal!"></i>
            <span pButtonLabel i18n="@@forgot.password.form.reinitialize">Réinitialiser</span>
        </button>
        @if (!errorField && errorMessage) {
            <p class="text-sm text-center text-red-500 mt-2">{{ errorMessage }}</p>
        }
    </div>
</form>
