<p-menubar [model]="[]" class="!bg-primary !rounded-none !border-0">
    <ng-template #start>
        <a routerLink="/" class="flex py-1.5 mr-4">
            <img ngSrc="logo.png" i18n-alt="@@app.title" alt="Mediatheque" width="30" height="30" class="inline-block" />
            <span class="text-xl pl-3 text-white hidden sm:block" i18n="@@app.title">Ma médiathèque</span>
        </a>
    </ng-template>
    <ng-template #end>
        @if (user$ | async; as user) {
            <div class="flex items-center gap-2">
                <input type="text" pInputText i18n-placeholder="@@header.search" placeholder="Rechercher" class="w-36" />
                <a routerLink="/users/edit/{{ user.id }}" class="flex">
                    <p-avatar [label]="!user.avatar ? user.username?.[0] : '' | uppercase" shape="circle">
                        <img [src]="user.avatar ? environment.apiPath + '/uploads/' + user.avatar : ''" alt="Photo de profil" i18n-alt="@@header.avatar.alt">
                    </p-avatar>
                </a>
                <button class="flex cursor-pointer" (click)="logout()"><i class="pi pi-sign-out text-white"></i></button>
            </div>
        }
    </ng-template>
</p-menubar>
