<h1 class="grow text-3xl md:text-4xl font-medium mb-8" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p class="mb-12" i18n="@@home.index.text">Your app was created with <a href="https://bootify.io" target="_blank" class="underline">Bootify.io</a> and can now be customized. If you are happy with the result, <strong>please recommend us to other developers</strong> - so Bootify.io can grow further.</p>
<div class="md:w-2/5 mb-12">
    <h4 class="text-2xl font-medium mb-4" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="flex flex-col border border-gray-300 rounded">
        <a routerLink="/users" class="w-full border-gray-300 hover:bg-gray-100 border-b rounded-t px-4 py-2" i18n="@@user.list.headline">Users</a>
        <a routerLink="/mediaTypes" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@mediaType.list.headline">Media Types</a>
        <a routerLink="/genres" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@genre.list.headline">Genres</a>
        <a routerLink="/artists" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@artist.list.headline">Artists</a>
        <a routerLink="/platforms" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@platform.list.headline">Platforms</a>
        <a routerLink="/medias" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@media.list.headline">Medias</a>
        <a routerLink="/mediaArtists" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@mediaArtist.list.headline">Media Artists</a>
        <a routerLink="/collections" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@collection.list.headline">Collections</a>
        <a routerLink="/mediaCollections" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@mediaCollection.list.headline">Media Collections</a>
        <a routerLink="/tags" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@tag.list.headline">Tags</a>
        <a routerLink="/reviews" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@review.list.headline">Reviews</a>
        <a routerLink="/flags" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@flag.list.headline">Flags</a>
        <a routerLink="/userMedias" class="w-full border-gray-300 hover:bg-gray-100 rounded-b px-4 py-2" i18n="@@userMedia.list.headline">User Medias</a>
    </div>
</div>
