<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@collection.add.headline">Add Collection</h1>
    <div>
        <a routerLink="/collections" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@collection.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="name" i18n-label="@@collection.name.label" label="Name" />
    <app-input-row [group]="addForm" field="description" rowType="textarea" i18n-label="@@collection.description.label" label="Description" />
    <input type="submit" i18n-value="@@collection.add.headline" value="Add Collection" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
</form>
