<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@media.add.headline">Add Media</h1>
    <div>
        <a routerLink="/medias" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@media.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="title" i18n-label="@@media.title.label" label="Title" />
    <app-input-row [group]="addForm" field="description" rowType="textarea" i18n-label="@@media.description.label" label="Description" />
    <app-input-row [group]="addForm" field="coverUrl" i18n-label="@@media.coverUrl.label" label="Cover Url" />
    <app-input-row [group]="addForm" field="createdAt" i18n-label="@@media.createdAt.label" label="Created At" />
    <app-input-row [group]="addForm" field="updatedAt" i18n-label="@@media.updatedAt.label" label="Updated At" />
    <app-input-row [group]="addForm" field="mediaType" rowType="select" [options]="mediaTypeValues" i18n-label="@@media.mediaType.label" label="Media Type" />
    <app-input-row [group]="addForm" field="genre" rowType="select" [options]="genreValues" i18n-label="@@media.genre.label" label="Genre" />
    <app-input-row [group]="addForm" field="platform" rowType="select" [options]="platformValues" i18n-label="@@media.platform.label" label="Platform" />
    <app-input-row [group]="addForm" field="createdBy" rowType="select" [options]="createdByValues" i18n-label="@@media.createdBy.label" label="Created By" />
    <app-input-row [group]="addForm" field="mediaTagTags" rowType="multiselect" [options]="mediaTagTagsValues" i18n-label="@@media.mediaTagTags.label" label="Media Tag Tags" />
    <input type="submit" i18n-value="@@media.add.headline" value="Add Media" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
</form>
