<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@media.edit.headline">Edit Media</h1>
    <div>
        <a routerLink="/medias" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@media.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@media.id.label" label="Id" />
    <app-input-row [group]="editForm" field="title" i18n-label="@@media.title.label" label="Title" />
    <app-input-row [group]="editForm" field="type" i18n-label="@@media.type.label" label="Type" />
    <input type="submit" i18n-value="@@media.edit.headline" value="Edit Media" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
</form>
