<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@mediaCollection.edit.headline">Edit Media Collection</h1>
    <div>
        <a routerLink="/mediaCollections" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@mediaCollection.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@mediaCollection.id.label" label="Id" />
    <app-input-row [group]="editForm" field="position" rowType="number" i18n-label="@@mediaCollection.position.label" label="Position" />
    <app-input-row [group]="editForm" field="type" i18n-label="@@mediaCollection.type.label" label="Type" />
    <app-input-row [group]="editForm" field="media" rowType="select" [options]="mediaValues" i18n-label="@@mediaCollection.media.label" label="Media" />
    <app-input-row [group]="editForm" field="collection" rowType="select" [options]="collectionValues" i18n-label="@@mediaCollection.collection.label" label="Collection" />
    <input type="submit" i18n-value="@@mediaCollection.edit.headline" value="Edit Media Collection" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
</form>
